.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh; 
}
body{
  background-color: #ffffff;
}
.navbar {
  background-color:#524d4d;
  color:#fff;
  padding: 10px;
  display: flex;
  justify-content: space-between; 
}

.navbar ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: space-around;
  align-items: center; 
}

.navbar li {
  cursor: pointer;
  margin-left: 10px;
}

.navbar li:hover {
  text-decoration: underline;
}

.parent {
  color:#00668c;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 25px;
  grid-row-gap: 15px;
  list-style-type:none;
  }
img{
  width: 80px;
  height: 80px;
}

.boton{
  background-color: black;
}
.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
  flex-grow: 1; 
  
}
.card{
  width: 280px;
  height: 200px;
  background-color: #bbe2f5e0;
  border-radius: 5px;
}

.footer {
  margin-top: 0;
  background-color: #2d2d2d;
  color: #fff;
  text-align: center;
  padding: 10px;
}

@media screen and (max-width: 768px) {
  .navbar ul {
    flex-direction: column;
    text-align: center;
  }

  .navbar li {
    margin: 10px 0;
  }

  .container {
    padding: 10px;
  }
}

.dropbtn{
  border: none;
  cursor: pointer;
  border: 5px;
  background-color: transparent;
}
.dropbtn img{
  width: 30px;
  height: 30px;
  padding: 16px;
}
.dropdown {
  
  position: relative;
  display: inline-block;
}

.dropdown-content {
  
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color:#71c4ef;
}

.buttonBuscar{
  background-color: #1E1E1E;
  margin-left: 10px;
}